@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,700|Source+Sans+Pro:400,700|Raleway:400,800,900|Josefin+Sans:400,600,700);
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background: #d4d4d4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   font-family:'Source Sans Pro',serif;
  font-size: 2rem;
}

a{
    color:#000;
    text-decoration: none;
    border-bottom: 2px solid #639fab;
}

h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
h3 {
  font-size: 3rem;
}
header.top {
  text-align: center;
}
header.top h1 {
  font-size: 14.4rem;
  line-height: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.contentContainer{
  margin-left: 10%;
  margin-right: 10%;
}

.header{
  padding-top:150px;
  font-family: 'Source Sans Pro', 'Raleway', serif;
}

.socialLinks img{
    max-height: 35px;
    max-width: 35px;
    padding-right:5px;
  }

.socialLinks a{
    text-decoration: none;
    border-bottom: 0px solid #639fab;
}
.socialLinks a:hover{
    text-decoration: none;
    border-bottom: 3px solid #639fab;
}

span.heading{
  font-weight:bold;
}
{
  margin: 2 0 0 0;
}

